/*******************************************/
/** GRID LAYOUTS ***************************/
/*******************************************/


/*******************************************/
/** MAIN TEMPLATE GRID *********************/
article {
	margin: 0vh 0vw;
  padding: 0 auto;
  min-height: 100vh;
	display: grid;
  grid-template-rows: auto 100% auto;
	grid-gap: 0px;
}
main {
  margin: 0vh 4.2vw;
}

@media only screen and (min-width: 800px) {
  article {
    margin: 0 0vw;
    padding: 0 auto;
    display: grid;
    grid-template-rows: auto 100% auto;
  }
  main {
    margin: 0vh 6vw;
  }
}
/**//***********************************//**/


/*******************************************/
/** Home.twig GRID **/
.homePage {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(88px, 1fr));
  grid-gap: 16px;
}
/** Social Media 'GRID' **/
/*.download {grid-area: download;}
Convert Grid 
  > Modify g-t-c > replace '4' w. '5'
  > Modify g-t-a > include 'download
*/
.github {grid-area: github;}
.twitter {grid-area: twitter;}
.email {grid-area: email;}
.phone {grid-area: phone;}
ul.social {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1.81rem;
  justify-content: space-between;
  grid-template-areas: 
    "github twitter email phone";
}

@media only screen and (min-width: 800px) {
  .homePage {
    min-height: 100%;
    margin: 0;
    padding: 0 auto;
    display: grid;
    grid-template-rows: auto; 
    align-items: center;
    justify-content: center;
    /*grid-template-columns: repeat(2, 49%);
    grid-gap: 24px;*/     
  }
}

/**//***********************************//**/


/*******************************************/
/** Main Template SUB-GRID *****************/
.subGrid {
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-columns: repeat(auto, minmax(200px,auto));
  grid-gap: 8px;
}
@media only screen and (min-width: 800px) {
  .subGrid {
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    grid-template-rows: repeat(auto, 1fr);  /*88vh*/
    grid-template-columns: repeat(2, 49%);  /*repeat(auto-fit, minmax(200px, 1fr))*/
    grid-gap: 16px;
    
  }
}
/**//***********************************//**/

/*******************************************/
/** Portfolio PAGE 'Category' Module *******/
.category {
	display: grid;
	grid-template-columns: repeat(auto-fit,  1fr);
	grid-gap: 4px;
}
@media screen and (min-width: 800px) {
	.category {
    display: grid;
    grid-template-columns: repeat(2, [col] 1fr);
    grid-template-rows: repeat (2, 1fr);
    grid-gap: 4px;
  }
}
/**//***********************************//**/




/*******************************************/
/** SOCIAL MEDIA GRID **********************/
/*.download {grid-area: download;}
Convert Grid 
  > Modify g-t-c > replace '4' w. '5'
  > Modify g-t-a > include 'download
*/
.github {grid-area: github;}
.twitter {grid-area: twitter;}
.email {grid-area: email;}
.phone {grid-area: phone;}
ul.social {
  margin: 0;
  padding: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1.81rem;
  justify-content: space-between;
  grid-template-areas: 
    "github twitter email phone";
}
/**//***********************************//**/




/*******************************************/
/** xxxxx16 ******************/

/**//***********************************//**/




/*******************************************/
/** FEATURE QUERY for BROWSER SUPPORT ******/
@supports (display: grid) { 
  .grid > * {
    width: auto; 
    margin: 0;
  } 
}
/**//***********************************//**/