{% extends "base.twig" %}

{% block title %}About{% endblock %}

{% block content %}

<!-- //CONTENT-BEGINS..... -->
<section>
  <div>
    <p class="readText">My contributions as an educator spans the globe and is as diverse as the nations that I have worked in. Whilst facilitating English language courses for non-native speakers' accounts for the bulk of my career, I am also a proficient curriculum developer, a skilled TEFL teacher trainer, and an advocate for at-risk youth.</p>
    <p class="readText">By virtue of academic perseverance, I was able to escape the cumbersome hindrances of poverty to achieve unimaginable goals. Early academic success afforded me opportunities that I otherwise would not have been privy to. As a life learner, I have an incessant thirst for knowledge and a special affinity for the learning process as a whole. Of the various disciplines that I have studied, foreign language has invariably had the most profound impact on my life as it has allowed me to gain an international perspective of the world that I live within.</p> 
    <p class="readText">Being a pseudo-polyglot inspired me to venture into the dominion of web design and development. For the past few years, I have engaged in a self-directing sojourn that has taken me around the internet universe and back, acquiring in-depth knowledge of practices imperative to becoming a web implementation specialist.</p> 
    <p class="readText">As a designer, I can adapt a low-fidelity prototype into a viable website using HTML, CSS, JavaScript, content management tools and digital media. As a developer, I utilize the PHP scripting language that incorporates object-oriented programming practices to integrate server-side functionality into a web application. Vital components of this process entails auscultating user-experience; amalgamating accessibility, performance requirements and other technical considerations; HTTP server installation; database configuration; and using the SSH protocol in conjunction with a version control system to provide remote access securely to mitigate maintenance concerns.</p>
    <p class="readText">To this end, I am currently exploring pathways by which I can leverage my unique skillset to eloquently transition into a web developer-teaching career.</p>
  </div>
</section>

  <section>
    <h3>Training &amp; Skills</h3>
    <p class="readText">Jack-of-All-Trades, I am not. However, I am an effective communicator with a distinctive international experience capable of doing anything that I put my mind to. Who knows? Maybe I will open a school one day!</p>
    <!-- TRAINING +AND+ SKILLS -->
    <!-- 'mini-resume' -->
    <details><!-- <details 'open'> will OPEN Module from Start -->
      <summary>Teaching Experience &nbsp;<code>9,000+ Hours</code></summary>
      <p class="readText">Below is a list of some of the educational institutions that I have collaborated with:</p>
      <aside>
        <div class="trainingGrid">
          <span>2018 - <!--<small><i>Present</i></small>--> </span>
          <span><!--Substitute Teacher <b>&#64;</b> -->Jefferson Co. Public Schools <small>(KY)</small></span>
          <span>2016 - 2017 </span>
          <span><!--TEFL Instructor <b>&#64;</b> -->Jiaxing College</span>
          <span>2012 - 2013 </span>
          <span><!--TEFL Instructor <b>&#64;</b> -->Zhejiang Middle School</span>
          <span>2007 - 2009 </span>
          <span><!--TEFL Trainer <b>&#64;</b> -->Oxford Seminars</span>
          <span>2005 - 2006 </span>
          <span><!--TEFL Instructor <b>&#64;</b> -->Joongdong High School</span>
          <span>2004 - 2006 </span>
          <span><!--TEFL Consultant <b>&#64;</b> -->US-Japan Edu. Exchange Program</span>
          <span>2003 - 2004 </span>
          <span><!--TEFL Instructor <b>&#64;</b> -->Sogang University</span>
          <span>2000 - 2001 </span>
          <span><!--Rec. Supervisor <b>&#64;</b> -->Cabbage Patch Settlement House</span>
        </div>
      </aside>  
    </details>
    <div class="subGrid">
      <!-- Training -->
      <div>
        <div class="grid-table">
          <span>2015</span>
          <span>Web Dev Training</span>
          <span>USA</span>
          <span>Treehouse</span>
          
          <span>2011</span>
          <span>Mandarin Language Studies</span>
          <span>China</span>
          <span>Shanghai Ocean University</span>
          
          <span>2010</span>
          <span>MOS Training</span>
          <span>USA</span>
          <span>Microsoft</span>
          
          <span>2007</span>
          <span>TEFL Teacher Training</span>
          <span>Thailand</span>
          <span class="smallSpan">International TEFL Teacher Training, Inc.</span>
          
          <span>2003</span>
          <span>B.A. Political Science</span>
          <span>USA</span>
          <span>University of Louisville</span>
          
          <!--<span>aaaaaaaa</span>
          <span>bbbbbbbb</span>
          <span>cccccccc</span>
          <span>dddddddd</span>-->
        </div>
      </div>
      <!-- Skills -->
      <div>
        <div class="grid-row">
          <div class="SkillBar">
            <div id="Skill-Design">
              <span class="Skill-Area">Design</span> <span class="PercentText">80%</span>
            </div>
          </div>
          <div class="skillSpecs">
            <span>HTML | CSS | IA/UI/UX |Accessibility | Wireframes</span>
          </div>
        </div>
        <div class="grid-row">
          <div class="SkillBar">
            <div id="Skill-Develop">
              <span class="Skill-Area">Develop</span> <span class="PercentText">68%</span>
            </div>
          </div>
          <div class="skillSpecs">
            <span>PHP | Composer | JavaScript | npm</span>
          </div>
          </div>
        <div class="grid-row">
          <div class="SkillBar">
            <div id="Skill-Deploy">
              <span class="Skill-Area">Deploy</span> <span class="PercentText">82%</span>
            </div>
          </div>
          <div class="skillSpecs">
            <span>Server Config. | Version Control | SFTP | SSH</span>
          </div>
        </div>
        <div class="grid-row">
          <div class="SkillBar">
            <div id="Skill-Copy">
              <span class="Skill-Area">Writing &amp; Editing</span> <span class="PercentText">91%</span>
            </div>
          </div>
          <div class="skillSpecs">
            <span>Creative | AP &amp; MLA Style | Research</span>
          </div>
        </div>
        <div class="grid-row">
          <div class="SkillBar">
            <div id="Skill-Interpersonal">
              <span class="Skill-Area">Interpersonal</span> <span class="PercentText">79%</span>
            </div>
          </div>
          <div class="skillSpecs">
            <span>Articulate | Ethical | Problem Solver | Weird A.F.</span>
          </div>
        </div>
      </div>
    </div>
    <!-- 'treehouse-coursework
    <details>
      <summary>Web Dev Experience &nbsp;<code>2,000+ Hours</code></summary>
      <div class="report-card treehouse"></div>
    </details>
    <p class="readText">If you are interested in learning more about my work, please visit my <u><a href="work.php">portfolio</a></u> and check out projects that I have in the works!</p> -->
    <!-- SOCIAL-MEDIA Links -->
    <div>
      <ul class="social">
        <li>
          <a class="github" href="https://github.com/MisterMoody" alt="Github" target="_blank" title="Check Out My Work on Github">
          <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
          <a class="twitter" href="https://twitter.com/Mister_Moody" alt="Twitter" target="_blank" title="Follow Me on Twitter">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        </li>
        <!--<li>
          <a class="download" src="moodyCV.doc" href="moodyCV.docx" title="Download My Resume"  alt="Download My Resume">
          <i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i></a>
        </li>-->
        <li>
          <a class="phone" href="tel:+15025589240" alt="Call Me" title="Phone Number">
          <i class="fa fa-mobile fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
          <a class="email" href="mailto: principal@mistermoody.com" alt="Email Me" title="Email Me">
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </section>
<!-- .....CONTENT-ENDS// --> 

{% endblock %}