{% extends "base.twig" %}

{% block title %}About{% endblock %}

{% block content %}

<!-- //CONTENT-BEGINS..... -->
<section>
  <div>
    <p class="readText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique dictum pulvinar. Pellentesque pulvinar neque nec lacus efficitur elementum. Ut luctus erat venenatis, egestas odio vel, elementum tellus. Aliquam sit amet faucibus velit, sit amet semper eros. Sed fringilla risus sed lacus interdum, ac ullamcorper ligula pharetra. Aenean vitae magna sit amet justo commodo efficitur. Sed et mi vel libero vehicula varius sit amet eget nisl. Pellentesque vitae erat et quam vulputate eleifend.</p>
    <p class="readText">Proin tempus felis ipsum, sit amet venenatis lorem consectetur sit amet. Cras pulvinar odio non nulla vehicula porta. Integer scelerisque lectus ut aliquet imperdiet. Quisque cursus, libero ut posuere semper, metus tortor facilisis arcu, sit amet venenatis tellus erat non justo. Etiam in tristique odio, ac commodo erat. Ut pretium lacus dui, ac porttitor turpis hendrerit a. Duis lobortis nisl nibh, sit amet venenatis libero mollis suscipit. Nullam nec justo vulputate, tempor diam a, cursus lacus.</p> 
    <p class="readText">Donec euismod velit et scelerisque egestas. Quisque ac quam imperdiet ante pretium consectetur sed id augue. Aliquam cursus venenatis mi, finibus dictum nunc egestas quis. Nunc justo ipsum, rhoncus in facilisis ut, posuere a erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. In eget scelerisque nunc, nec ultricies mi. Quisque ac egestas sem. Sed aliquam orci eu lobortis tempus. Sed viverra volutpat arcu at luctus. Suspendisse cursus turpis nisi, tristique dictum eros dapibus id.</p> 
    <p class="readText">Nulla ut nunc non ligula fermentum varius in sed nulla. Morbi vitae arcu lectus. Mauris sed condimentum mi, at pellentesque quam. Aenean venenatis ex id nunc rhoncus suscipit. Donec eu mattis turpis. Sed ultrices eget nulla quis auctor. Etiam dui metus, pharetra in est lobortis, dictum ullamcorper nunc. Nunc lorem ligula, vehicula id facilisis ut, vestibulum vitae ex. Aliquam aliquam elit at dignissim consequat. Duis maximus quis erat at mollis. Maecenas vitae pharetra orci, quis auctor nisl. Cras sit amet efficitur massa, eget eleifend enim. Donec non neque dapibus, pretium urna ut, posuere sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut id purus justo. Nullam eu ipsum sit amet tortor maximus convallis non vehicula tellus.</p>
    <p class="readText">Fusce vitae libero luctus, dapibus justo in, tristique tortor. Morbi risus magna, dictum id dui vel, imperdiet gravida magna. Nulla consectetur sagittis augue, sed luctus magna iaculis et. Duis id metus vitae ligula dapibus aliquam fermentum in justo. Ut nulla ex, rhoncus consequat tincidunt nec, tincidunt et arcu.</p>
  </div>
</section>

<section>
    <h3>Topic Heading</h3>
    <p class="readText">Cras vel magna sed risus molestie sollicitudin. Mauris in enim nec felis tempus auctor. Donec pharetra lorem a ligula semper fringilla. Nunc accumsan ac nisl ac viverra. Donec quis egestas ipsum, et condimentum est.</p>
    <!-- -->
    <details><!-- <details 'open'> will OPEN Module from Start -->
      <summary>A <code>Details Element</code> with Foldable Summary : Click to View</summary>
      <p class="readText">Vivamus tincidunt finibus odio, ac vulputate mauris aliquet et. Suspendisse id ipsum nisl. In imperdiet magna vitae ante lacinia feugiat.:</p>
      <aside>
        <div class="trainingGrid">
          <span>Date</span>
          <span>Company Name</span>
          <span>Date</span>
          <span>Company Name</span>
          <span>Date</span>
          <span>Company Name</span>
          <span>Date</span>
          <span>Company Name</span>
          <span>Date</span>
          <span>Company Name</span>
          <span>Date</span>
          <span>Company Name</span>
          <span>Date</span>
          <span>Company Name</span>
        </div>
      </aside>  
    </details>
    <!-- -->
    <div class="subGrid">
      <!-- Training (EDU) -->
      <div>
        <div class="grid-table">
          <span>Date</span>
          <span>Subject Studied</span>
          <span>Company</span>
          <span>Institution</span>
          
          <span>Date</span>
          <span>Subject Studied</span>
          <span>Company</span>
          <span>Institution</span>
          
          <span>Date</span>
          <span>Subject Studied</span>
          <span>Company</span>
          <span>Institution</span>
          
          <span>Date</span>
          <span>Subject Studied</span>
          <span>Company</span>
          <span class="smallSpan">Institution</span>
          
          <span>Date</span>
          <span>Subject Studied</span>
          <span>Company</span>
          <span>Institution</span>
        </div>
      </div>
      <!-- Skills -->
      <div>
        <div class="grid-row">
          <div class="SkillBar">
            <div id="Skill-Design">
              <span class="Skill-Area">Skill Area</span> <span class="PercentText">#%</span>
            </div>
          </div>
          <div class="skillSpecs">
            <span>List of Skills or Qualities | Separated</span>
          </div>
        </div>
        <div class="grid-row">
          <div class="SkillBar">
            <div id="Skill-Develop">
              <span class="Skill-Area">Skill Area</span> <span class="PercentText">#%</span>
            </div>
          </div>
          <div class="skillSpecs">
            <span>List of Skills or Qualities | Separated</span>
          </div>
          </div>
        <div class="grid-row">
          <div class="SkillBar">
            <div id="Skill-Deploy">
              <span class="Skill-Area">Skill Area</span> <span class="PercentText">#%</span>
            </div>
          </div>
          <div class="skillSpecs">
            <span>List of Skills or Qualities | Separated</span>
          </div>
        </div>
        <div class="grid-row">
          <div class="SkillBar">
            <div id="Skill-Copy">
              <span class="Skill-Area">Skill Area</span> <span class="PercentText">#%</span>
            </div>
          </div>
          <div class="skillSpecs">
            <span>List of Skills or Qualities | Separated</span>
          </div>
        </div>
        <div class="grid-row">
          <div class="SkillBar">
            <div id="Skill-Interpersonal">
              <span class="Skill-Area">Skill Area</span> <span class="PercentText">#%</span>
            </div>
          </div>
          <div class="skillSpecs">
            <span>List of Skills or Qualities | Separated</span>
          </div>
        </div>
      </div>
    </div>
    <!-- SOCIAL-MEDIA Links -->
    <div>
      <ul class="social">
        <li>
          <a class="github" href="" alt="" target="_blank" title="">
          <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
          <a class="twitter" href="" alt="Twitter" target="_blank" title="">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
          <a class="phone" href="" alt="" title="">
          <i class="fa fa-mobile fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
          <a class="email" href="" alt="" title="">
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </section>
<!-- .......CONTENT-ENDS// --> 

{% endblock %}
