<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="width=device-width; initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='' />
    <meta name="keywords" content="" />
    <!-- Page Title -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Browser Tab Icon -->
    <link rel="shortcut icon" href="" type="img/m" class="rounded">    
    <!-- Custom CSS Styles -->   
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/grid.css">
    <!-- Custom Fonts -->       
	  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway" rel="stylesheet">
    <!-- FontAwesome CSS Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  {% endblock %}
  <body>
  <!-- ************************************** -->
		<!-- //'start of' MAIN GRID CONTAINER-->	
    <article>  
      <!-- //NAVIGATION -->
			<nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fa fa-bars"></i>
        </span>
        <a href="/" class="logo">BRANDing</a>
        <ul class="main-nav" id="js-menu">
          {# Conditional for Navigation Item located in 'nav-item.twig' #}
          {# Will Loop-through Each Item in Array #}
          {% for item in nav %}
          {{ include("nav-item.twig") }}
          {% else %}
          <li>
            <a href="/" class="nav-links">x
            <span class="sr-only">(current)</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <!-- //END of Navigation -->
      
      <!-- //CONTENT-BEGINS..... -->
      <main class="content">
        {% block content %}
        {% endblock %}
      </main>
      <!-- .......CONTENT-ENDS// -->  
      
      <!-- //FOOTER.................... --> 
      {% block footer %}
      <footer class="credit">
        <small>&#169;<span>Date - {{ "now"|date('Y')}}</span>&nbsp;&nbsp; <b>Individual or Company Brand</b></small>
      </footer>
      {% endblock %}
      <!-- .............//END of Footer -->
    </article>
		<!-- //'end of' MAIN GRID CONTAINER-->	    
    <!-- JAVASCRIPT ************** --> 
    <!-- \\\\\\ Global Navigation  -->
    <script src="js/siteNav.js" async></script>
  <!-- ************************************** -->
  </body>
</html>