<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="width=device-width; initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='' />
    <meta name="keywords" content="" />
    <!-- Page Title -->
    <title>{% block title %}{% endblock %} -  Templating with TWIG</title>
    <!-- Browser Tab Icon -->
    <link rel="shortcut icon" href="" type="img/m" class="rounded">    
    <!-- Custom CSS Styles -->   
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/grid.css">
    <!-- Custom Fonts -->       
	  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Raleway" rel="stylesheet">
    <!-- FontAwesome CSS Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  {% endblock %}
  <body>
  <!-- ********************************************************* -->
  <!-- ********************************************************* -->

		<!-- //'start of' MAIN GRID CONTAINER-->	
    <article>  
      <!-- //NAVIGATION -->
			<nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fa fa-bars"></i>
        </span>
        <a href="/" class="logo">Twig Templating</a>
        <ul class="main-nav" id="js-menu">
          {# Conditional for Navigation Item located in 'nav-item.twig' #}
          {% for item in nav %}
          {{ include("nav-item.twig") }}
          {% else %}
          <li>
            <a href="/" class="nav-links">x
            <span class="sr-only">(current)</span>
            </a>
          </li>
          {% endfor %}
          <!--<li>
            <a href="work.php" class="nav-links">Work</a>
          </li>
          <li>
            <a href="contact.php" class="nav-links">Contact</a>
          </li>-->
        </ul>
      </nav>
      <!-- //END of Navigation -->
      
      <!-- //CONTENT-BEGINS..... -->
      <main class="content">
        {% block content %}
        {% endblock %}
      </main>
      <!-- .....CONTENT-ENDS// -->  
      
      <!-- //FOOTER --> 
      {% block footer %}
      <footer class="credit">
        <small>&#169;<span>2015 - {{ "now"|date('Y')}}</span>&nbsp;&nbsp; <b>x</b></small>
      </footer>
      {% endblock %}
      <!-- //END of Footer -->
    </article>
    
    <!-- JAVASCRIPT ************** --> 
    <!-- \\\\\\ Global Navigation  -->
    <script src="templates/js/siteNav.js" async></script>
    <!-- \\\\\\ Scroll-to-Top      
    <script src="inc/scrollTop.js"></script>-->
    <!-- \\\\\\ Font-Awesome Icons -->
    <script src="https://use.fontawesome.com/ceeedfe13b.js"></script>
    <!-- ************************* --> 
  </body>
</html>