{% extends "base.twig" %}

{% block title %}Contact{% endblock %}

{% block content %}

<!-- //CONTENT-BEGINS..... -->
<section>
  <!--<section>
    <h3>Share Your Thoughts!</h3>
    <p>Have a question? I've got an answer. And if I don't, I have a particular set of skills that will allow me to help you unearth a suitable outcome. </p>
    <?php
    if(isset($_POST["submit"])) {
            $sender=$_POST["sender"];
            $senderEmail=$_POST["senderEmail"];
            $message=$_POST["message"];

            $recipient="principal@mistermoody.com";
            $subject="Mister Moody Alert: Prospective Client Email";
            $mailBody="Name: $sender\nEmail: $senderEmail\n\n$message";

           if ( mail($recipient, $subject, $mailBody, "From: $sender<$senderEmail>")) {
             header('Location: portfolio.php');/*Redirect Page*/
           }        
          }
    ?>
    <form class="contactForm" method="post" action="contact.php" name="contactForm">
      <div href="thankyou.html">
        <div>
          <label class="lineInput" for="name"></label>
          <input type="text" id="name" name="sender" placeholder=" Name" title="Please provide your name." size="33vw" pattern="^([- \w\d\u00c0-\u024f]+)$" required aria-required="true" aria-describedby="prospective" class="form-control">
        </div>
        <div>
          <label class="lineInput" for="email" id="prospectiveEmail"></label>
          <input type="email" id="email"  placeholder=" Email Address" value="" name="senderEmail" size="33vw" pattern="^(([-\w\d]+)(\.[-\w\d]+)*@([-\w\d]+)(\.[-\w\d]+)*(\.([a-zA-Z]{2,5}|[\d]{1,3})){1,2})$" required aria-required="true" aria-describedby="prospectiveEmail" title="Please provide your email.">
        </div>
        <div>
          <label for="message" id="prospectiveMSG"></label>
          <textarea type="text" id="message" name="message" placeholder="Share your thoughts..." cols="4" rows="4" maxlength="5000" required aria-required="true" aria-describedby="prospectiveMSG" title="Please write a detailed message describing your project, scope, timetable and any immediate concerns that you have."></textarea>
        </div>
        <div>
          <input type="submit" name="submit" value="Submit" id="submit_button">
        </div>
      </div>
    </form>
  </section>-->
  {# THIS IS THE CODE TO MANIPULATE 'on-IMPORT OF 'form.twig' #}
  <!--<div>
    <h1>Contact</h1>
    {# Import 'Form' Macro #}
    {% import "form.twig" as forms %}
    <form method="post">
      {{ form.input('name', post.name) }}
      {{ form.input('email', post.email, '', "I will not share your email.") }}
      {{ form.textarea('message', post.message) }}
      <button type="submit" class="" id="submit_button">Send Message</button>
    </form>
  </div>-->
  <div>
    <h1>Contact Page Layout</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas integer eget aliquet nibh. Diam vulputate ut pharetra sit amet aliquam id diam maecenas.</p>
    <p>Enim ut tellus elementum sagittis vitae et leo duis ut. Ullamcorper malesuada proin libero nunc consequat interdum. Imperdiet proin fermentum leo vel orci porta non pulvinar neque. Elementum facilisis leo vel fringilla est ullamcorper eget nulla facilisi.</p>
    <p>Massa enim nec dui nunc mattis. Nunc sed id semper risus in hendrerit. Dignissim sodales ut eu sem integer vitae. Odio aenean sed adipiscing diam donec adipiscing tristique risus. Integer vitae justo eget magna fermentum iaculis eu non. </p>
  </div>
</section>
<!-- .....CONTENT-ENDS// --> 

{% endblock %}