
<li>
  <a href="{{ item['href'] }}" 
     class="nav-links {{ item.status }}">
    {{ item.caption }}
    {% if item.status == 'active' %}
    <span class="sr-only">(current)</span>
    {% endif %}
  </a>
</li>